<style>

.label {
	font-size: 10px;
	font-family: Calibri;
	text-align: left;
	height: 8px;
}

.z-caption input,.z-caption td {
	color: white;
	cursor: default;
	font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif !important;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	text-decoration: none;
}

div.z-grid {
	background: white;
}

.btnStyle {
	/* font-size: 12px;
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	color: #249;
	cursor: hand;
	cursor: pointer; */
	
	background-color: #006DCC;
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-image: none;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif !important;
	line-height: 20px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 2px 6px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
	width: auto;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}

.btnDelete {
	background-color: #DA4F49;
	background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-image: none;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif !important;
	font-size: 10.5px;
	font-style: normal;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 0;
	margin-left: 0;
	padding: 1px 6px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
	width: auto;
	-moz-border-radius: 3px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-webkit-border-radius: 3px;
}

.btnDownload {
	color:#FFFFFF !important;
	font-size:12px;
	cursor:default;
	background:none repeat scroll 0 0 #088CCD!important;
	border-color:#CDE6F5 #224499 #224499 #CDE6F5 !important;
	border-style:solid !important;
	border-width:1px !important;
}


.tooltip {
	background-color: #FFFFBB;
	border: 0.1em solid #999999;
	color: #249;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
	margin: 0.4em;
	padding: 0.1em;
}

.body {
	margin: 0;
	padding: 0;
	background-color: #414141;
	color: #969595;
	font-size: 10px;
}

/******************* Start Template.zul *****************************************/
.z-north,.z-north-colpsd {
	z-index: 16;
	background-color: #FFFFFF;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

/*****Start Font*****/ /*****End Font*****/
	/******************* End Template.zul *****************************************/
	/* Start Windows Border */
.z-window-embedded-tl,.z-window-embedded-tr,.z-window-embedded-hl,.z-window-embedded-hr,.z-window-embedded-hm
	{
	background-image: none;
	background-color: #088CCD;
}

.z-window-embedded-cnt {
	border: 1px solid #088CCD;
}

.z-window-embedded-header {
	color: #FFFFFF;
	cursor: default;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	overflow: hidden;
	font-weight: bold;
}

/* End Windows Border */ /* Start GroupBox */
.z-groupbox-tl,.z-groupbox-tr {
	
}

.z-groupbox-tr {
	
}

.z-groupbox-tl,.z-groupbox-tr {
	background-image: none;
	background-color: #088CCD;
}

.z-groupbox-hl {
	background-image: none;
	background-color: #088CCD;
}

.z-groupbox-hr {
	background-image: none;
	background-color: #088CCD;
}

.z-groupbox-hm {
	background-image: none;
	background-color: #088CCD;
}

.z-groupbox-hl .z-groupbox-header {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	color: #249;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.z-groupbox-hl .z-groupbox-header {
	color: #249;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.z-groupbox-hl .z-groupbox-header {
	color: #249;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.z-groupbox-hl .z-groupbox-header {
	color: #FFF;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

/* GroupBox Footer */
.z-groupbox-bl,.z-groupbox-br,.z-groupbox-bm {
	background-image: none;
}

.z-groupbox-cnt {
	background-color: #FFFFFF;
	border: 1px solid #088CCD;
	padding: 5px;
}

/* End GroupBox */ /* Star MenuBar*/
.z-menubar-hor,.z-menubar-ver {
	background-image: none;
	background-color: #088CCD;
	display: block;
	padding: 2px 0;
	position: relative;
}

.z-menu-body-over {
	background-image: none;
	background-color: #088CCD;
}

.z-menubar-hor .z-menu-btn-over .z-menu-btn-r,.z-menubar-ver .z-menu-btn-over .z-menu-btn-r,.z-menubar-hor .z-menu-item-btn-over .z-menu-item-btn-r,.z-menubar-ver .z-menu-item-btn-over .z-menu-item-btn-r
	{
	background-image: none;
	background-color: #088CCD;
}

.z-menubar-hor .z-menu-btn-over .z-menu-btn-m,.z-menubar-ver .z-menu-btn-over .z-menu-btn-m,.z-menubar-hor .z-menu-item-btn-over .z-menu-item-btn-m,.z-menubar-ver .z-menu-item-btn-over .z-menu-item-btn-m
	{
	background-image: none;
	background-color: #088CCD;
}

.z-menubar-hor .z-menu,.z-menubar-hor .z-menu-item,.z-menubar-hor .z-menu-btn,.z-menubar-hor .z-menu-item-btn,.z-menubar-hor span,.z-menubar-hor a,.z-menubar-hor div,.z-menubar-ver .z-menu,.z-menubar-ver .z-menu-item,.z-menubar-ver .z-menu-btn,.z-menubar-ver .z-menu-item-btn,.z-menubar-ver span,.z-menubar-ver a,.z-menubar-ver div,.z-menu-cnt,.z-menu-item-cnt
	{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	white-space: nowrap;
	color: #FFFFFF;
}

/* Start MenuItem*/
.z-menu-popup {
	/*background:url("/hrms/zkau/web/d25b80cf/zul/img/menu/pp-bg.png") repeat-y scroll 0 0 #CCE6FB;*/
	background-image: none;
	background-color: #088CCD;
	border: 1px solid #088CCD;
	left: 0;
	padding: 2px;
	top: 0;
	z-index: 88000;
}

.z-menu-popup-cnt .z-menu a.z-menu-cnt,.z-menu-popup-cnt .z-menu-item a.z-menu-item-cnt
	{
	color: #FFF;
	display: block;
	line-height: 16px;
	outline: 0 none;
	padding: 3px 21px 3px 3px;
	white-space: nowrap;
}

.z-menu-popup-cnt .z-menu-over a.z-menu-cnt,.z-menu-popup-cnt .z-menu-item-over a.z-menu-item-cnt
	{
	color: #249;
}

.z-menu-popup-cnt .z-menu .z-menu-cnt-img {
	background: url("/hrms/images/icon/arrow_m.gif") no-repeat scroll right
		center transparent;
}

/* End MenuItem*/ /* End MenuBar*/ /* Start EastWestCollapsible */
.z-east-colpsd,.z-west-colpsd,.z-south-colpsd,.z-north-colpsd {
	background-color: #088CCD;
	border: 1px solid #088CCD;
	height: 22px;
	overflow: hidden;
	position: absolute;
	width: 22px;
	color: #FFF;
}

.z-west-header,.z-center-header,.z-east-header,.z-north-header,.z-south-header
	{
	background-color: #088CCD;
	background-image: none;
	color: #FFF;
	cursor: default;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	overflow: hidden;
	padding: 5px 3px 4px 5px;
	white-space: nowrap;
}

/* Start Splitter */
.z-east-splt,.z-west-splt,.z-north-splt,.z-south-splt {
	background-color: #088CCD;
	background-image: none;
	border: 1px solid #FFFFFF;
	cursor: e-resize;
	font-size: 0;
	height: 8px;
	line-height: 0;
	position: absolute;
	width: 8px;
}

/* End Splitter */ /* End EastWestCollapsible */ /* Start Grid*/
div.z-grid-header th.z-column,div.z-grid-header th.z-auxheader {
	/* font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #D87700;
	border-color: #F0FAFF;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
	padding-top:.0001px;
	padding-bottom:0.0001px;
	white-space: nowrap;
	color: #FFF;
	height: 20px;
	text-allign: center; */
	
	background-color: #F2F2F2;
	border: 0.1em solid #CCCCCC;
	color: #555555;
	font-weight: bold;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 30px;
	padding-bottom:0.0001px;
	padding-top:.0001px;
	overflow: hidden;
	text-allign: center;
	width: auto;
	white-space: nowrap;
}

tr.z-grid-odd td.z-row-inner,tr.z-grid-odd .z-cell,tr.z-grid-odd {
	background: none repeat scroll 0 0 #F6FAFE;
	height: 20px;
	font-size: 10px;
	text-allign: center;
}

.z-column-btn {
	height: 21px !important;
}

.z-column-over {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 8px;
	background: none;
	text-allign: center;
}

/* End Grid*/ /* Start Paging*/
.z-paging {
	background-color: #FFFFFF;
	background-image: none;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 0 0 1px;
	display: block;
	padding: 2px;
	position: relative;
}  /* End Paging*/ /* Start ModelWindow*/
.z-window-embedded-tl,.z-window-modal-tl,.z-window-highlighted-tl,.z-window-overlapped-tl,.z-window-popup-tl
	{
	background-color: #088CCD;
	background-image: none;
	font-size: 0;
	height: 5px;
	line-height: 0;
	margin-right: 5px;
}

.z-window-embedded-tr,.z-window-modal-tr,.z-window-highlighted-tr,.z-window-overlapped-tr,.z-window-popup-tr
	{
	background-color: #088CCD;
	background-image: none;
	font-size: 0;
	height: 5px;
	line-height: 0;
	margin-right: -5px;
	position: relative;
}

.z-window-embedded-hl,.z-window-modal-hl,.z-window-highlighted-hl,.z-window-overlapped-hl,.z-window-popup-hl
	{
	background-color: #088CCD;
	background-image: none;
	padding-left: 6px;
}

.z-window-embedded-hr,.z-window-modal-hr,.z-window-highlighted-hr,.z-window-overlapped-hr,.z-window-popup-hr
	{
	background-color: #088CCD;
	background-image: none;
	padding-right: 6px;
}

.z-window-embedded-hm,.z-window-modal-hm,.z-window-highlighted-hm,.z-window-overlapped-hm,.z-window-popup-hm
	{
	background-color: #088CCD;
	background-image: none;
	overflow: hidden;
}

.z-window-modal-header,.z-window-popup-header,.z-window-highlighted-header,.z-window-overlapped-header
	{
	color: #FFF;
}

.z-window-modal-header,.z-window-popup-header,.z-window-highlighted-header,.z-window-overlapped-header,.z-window-embedded-header
	{
	color: #FFF;
	cursor: default;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 4px;
}

.z-window-modal-cl,.z-window-highlighted-cl,.z-window-overlapped-cl {
	background-color: #088CCD;
	background-image: none;
	padding-left: 6px;
}

.z-window-modal-cr,.z-window-highlighted-cr,.z-window-overlapped-cr {
	background-color: #088CCD;
	background-image: none;
	padding-right: 6px;
}

.z-window-modal-bl,.z-window-highlighted-bl,.z-window-overlapped-bl {
	background-color: #088CCD;
	background-image: none;
	height: 5px;
	margin-right: 5px;
}

.z-window-modal-br,.z-window-highlighted-br,.z-window-overlapped-br {
	background-color: #088CCD;
	background-image: none;
	font-size: 0;
	height: 5px;
	line-height: 0;
	margin-right: -5px;
	position: relative;
	color: #FFF
}

/* End ModelWindow*/ /* Start Tab*/
.z-tabs-scroll {
	background: none repeat scroll 0 0 #FAFDFE;
	border: 1px solid #7EAAC6;
	padding-bottom: 2px;
}

.z-tabs-scroll .z-tabs-cnt {
	-moz-user-select: none;
	background: url("") repeat-x scroll 0 top #F8F8F8;
	border-bottom: 1px solid #7EAAC6;
	display: block;
	list-style: none outside none;
	margin: 0;
	padding-left: 5px;
	padding-top: 1px;
	background-color: #F8F8F8;
	color: #F8F8F8;
}

.z-tabs-cnt li {
	-moz-user-select: none;
	cursor: default;
	display: block;
	float: left;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	position: relative;
	color: #D87700;
}
.z-tab-hl {
	background: url("");
	cursor: pointer;
	outline: medium none;
	padding-left: 10px;
	position: relative;
	color: #D87700;
}

.z-tab-hr {
	background: url("");
	display: block;
	padding-right: 10px;
}

.z-tab-hm {
	background: url("");
	cursor: pointer;
	overflow: hidden;
	padding-left: 2px;
	padding-right: 1px;
	color: #D87700;
	cursor: default;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.z-tab-seld .z-tab-text {
	background-color:#E3E3E3;
	color: #0F3B82 !important;
	cursor: default;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	padding: 4px 0 5px;
	white-space: nowrap;
}

.z-tab .z-tab-text {
	color: #777;
	cursor: pointer;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-style: normal;
	padding: 4px 0;
	white-space: nowrap;
}

.z-tab .z-tab-h1:hover .z-tab-text {
	color: #333333 !important;
}

/* Start Tab*/ /* Start Box*/
.box {
	background-color: #FFFFFF;
	background-repeat: repeat;
	background-position: top;
	color: 
}

/* End Box*/ /* Start ToolbarButton*/
.z-toolbarbutton-cnt {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 2px;
	position: relative;
	color: #249;
}

.z-toolbarbutton-body {
	margin: 0 -1px;
	padding: 0 1px;
	position: relative;
	vertical-align: middle;
}

/* End ToolbarButton*/ /* Start Label*/
.z-label {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/* End Label*/ /*Listbox*/
tr.z-listbox-odd {
	background: none repeat scroll 0 0 #F6FAFE;
	
	font-size: 10px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	text-align: center;
}

tr.z-listbox {
	
	font-size: 10px;
	text-align: center;
}

div.z-listbox-header th.z-listheader,div.z-listbox-header th.z-auxheader
	{
	border-color: #DAE7F6 #9EB6CE #9EB6CE #DAE7F6;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
	padding: 2px;
	white-space: nowrap;
}

div.z-listfooter-cnt,div.z-listcell-cnt {
	border: 0 none;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: left;
}

div.z-listheader-cnt {
	border: 0 none;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: left;
}

div.z-listbox-header th.z-listheader,div.z-listbox-header th.z-auxheader {
	/* border-color: #F0FAFF;
	background-color: #D87700;
	border-style: solid;
	border-width: 1px;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
	color: #fff;
	text-align: center; */
	
	background-color: #F2F2F2;
	border: 0.1em solid #CCCCCC;
	color: #555555;
	font-weight: bold;
	height: 25px;
	padding-left: 10px;
	text-align: center;
	width: auto;
}

/*Listbox*/ /*Panel*/
.z-panel-hm .z-panel-header,.z-panel-header {
	background: url("") repeat-x scroll 0 0 transparent;
	border: 0 none;
	color: #FFF;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 4px;
}

.z-panel-noborder .z-panel-header.z-panel-header-noborder {
	border-bottom: 1px solid #B1CBD5;
	border-width: 0 0 1px;
	background-color: #088CCD;
}

/*Panel*/
.z-window-embedded-header {
	color: #FFF;
	cursor: default;
	font-family: Verdana;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
}

div.selectedMenuItemClass {
	color: #D87700;
}

select {
	height: 20px;
	font-size: 10px;
	border: 1px solid #90BCE6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.z-textbox,.z-decimalbox,.z-intbox,.z-longbox,.z-doublebox {
	-moz-border-radius: 2px 2px 2px 2px;
	background: url("/hrms/zkau/web/cd80218f/zul/img/misc/text-bg.gif")
		repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #86A4BE;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	padding-bottom: 2px;
	padding-top: 2px;
}

div.z-row-cnt {
	color: black;
	text-allign: center;
}

zk.wcs   (line   2) div.z-row-cnt {
	padding: 1px 0;
	text-allign: center;
}

zk.wcs   (line   2) div.z-footer-cnt,div.z-row-cnt,div.z-group-cnt,div.z-groupfoot-cnt,div.z-column-cnt
	{
	border: 0 none;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-allign: center;
}

zk.wcs   (line   2) .z-overflow-hidden {
	overflow: hidden;
	text-allign: center;
}



/* Start Panel */

.z-panel-tl, .z-panel-tr, .z-panel-bl, .z-panel-br {
background-color:#088CCD;
background:#088CCD;
font-size:0;
height:5px;
line-height:0;
margin-right:0px;
}

.z-panel-hl {
background-color:#088CCD;
border-bottom:1px solid #A7DCF9;
padding-left:6px;
}
.z-panel-hl {
background:#088CCD;
border-bottom:1px solid #A7DCF9;
padding-left:6px;
}

.z-panel-hr {
background-color:#088CCD;
background:#088CCD;
padding-right:6px;
}

.z-panel-hm {
background-color:#088CCD;
overflow:hidden;
}

.z-panel-hm .z-panel-header, .z-panel-header {
background-color:#088CCD;
border:0 none;
color:#FFFFFF;
font-family:Verdana,Tahoma,Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
padding:0 0 4px;
}

.z-panel-tl, .z-panel-tr, .z-panel-bl, .z-panel-br {
background-color:#088CCD;
font-size:0;
height:5px;
line-height:0;
margin-right:5px;
}
.z-panel-cl, .z-panel-fl {
background-color:#088CCD;
background:#088CCD;
padding-left:6px;
}
.z-panel-cl, .z-panel-fl {
background-color:#088CCD;
background:#088CCD;
padding-left:6px;
}
.z-panel-cr, .z-panel-fr {
background:none repeat scroll 0 0 #088CCD;
padding-right:6px;
}
.z-panel-cm {
background:none repeat scroll 0 0 #088CCD;
border:0 none;
margin:0;
padding-top:6px;
}
.z-panel-tl, .z-panel-tr, .z-panel-bl, .z-panel-br {
background-color:#088CCD;
font-size:0;
height:5px;
line-height:0;
margin-right:0;
}

/* End Panel */

/*Start Input  Combobox Datebox*/
.z-combobox-rounded-inp, .z-bandbox-rounded-inp, .z-datebox-rounded-inp, .z-timebox-rounded-inp, .z-spinner-rounded-inp, .z-combobox-inp, .z-bandbox-inp, .z-datebox-inp, .z-timebox-inp, .z-spinner-inp{
padding-bottom: 0;
}
/*End Input  Combobox Datebox*/

.z-errbox-close {
	background-image: url('');
}
.z-errbox-close-over {
	background-image: url('');
}

.whiteBackground{
	background: white;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.z-spinner-rounded-disd, .z-spinner-rounded-disd *, .z-timebox-rounded-disd, .z-timebox-rounded-disd *, 
.z-datebox-rounded-disd, .z-datebox-rounded-disd *, .z-bandbox-rounded-disd, .z-bandbox-rounded-disd *, 
.z-combobox-rounded-disd, .z-combobox-rounded-disd *, .z-spinner-disd, .z-spinner-disd *, 
.z-timebox-disd, .z-timebox-disd *, .z-datebox-disd, .z-datebox-disd *, .z-bandbox-disd, .z-bandbox-disd *, 
.z-comboitem-disd, .z-comboitem-disd *, .z-combobox-disd, .z-combobox-disd * {
	color: #000000 !important;
	cursor: default !important;
}

</style>